**/outputs
**/logs01
**/logs02

# Python cache
__pycache__/
*.py[cod]
*.so
# weight file
*.pth
*.pt
# Build artifacts
build/
dist/
*.egg-info/

# Virtual envs
.venv/
env/
venv/

# VSCode / PyCharm
.vscode/
.idea/
