**/outputs
**/logs01
**/logs02

# Python cache
__pycache__/
*.py[cod]
*.so
# weight file
*.pth
*.pt
# Build artifacts
build/
dist/
*.egg-info/

# Virtual envs
.venv/
env/
venv/

# VSCode / PyCharm
.vscode/
.idea/

# Yang Shucheng
A+M_split_logs/**
src/open_r1_multimodal/Debug_logs/**
src/open_r1_multimodal/trajectories/**
