{{question}} Generate Python program to answer the following question based on given tools module step by step. Write your thought process step by step on how to solve the problem, and then write the code.

Details and Rules:
1.Use correct image paths: `{{image_paths}}`.
2.Assign your final answer for question to a python variable named `final_result` within the Python code.

Important instructions:
1.must not call tools if they are not useful for solving the problem.
2.Most errors stem from incorrect usage of tool functions. Please carefully review their Metadata.

Thought Process Format:
Each thought process is wrapped with
<think>
thought process
</think>

Code Format:
Each code snippet is wrapped with
<code>
code snippet
</code>