Generate a Python program within <command></command> tag to answer question based on given tools module.
Question: {{question}}

The image_paths mentioned in the question are in the list {{image_paths}},and their order matches the list order.
You should use them as inputs for tool usage

Please consider using the following tools if they are helpful for solving the problem.
Available Tools List: 
{{available_tools}}
Tools Metadata(JSON): 
{{toolbox_metadata}}

Please import tools Python class from their package like: from `<tool_package_name>` import `<tool_class_name>`.
If tool package name is `tool` and the tool class name is `Tool`.
<Python code example>: from tool import Tool

Generate the Python program enclosed in <command></command> tags, e.g., <command>generated lines</command>.
Assign the final answer (as a string) to a variable named final_result within the Python code.

Remember to instantiate the tool class before using it.
For object instantiation, convert the class name by changing only the first letter to lowercase
if the class name is `Tool` instantiate it as `tool`
<Python code example>: `tool = Tool()`.