absl-py
accelerate
aenum
aiohappyeyeballs
aiohttp
aiosignal
annotated-types
antlr4-python3-runtime
attrs
av
bitsandbytes
black
blis
catalogue
certifi
chardet
charset-normalizer
click
cloudpathlib
colorama
colorlog
confection
contourpy
cycler
cymem
dataproperty
datasets
deepspeed
dill
docker-pycreds
duckdb
e
easyocr
einops
flake8
flash-attn
fonttools
frozenlist
gitdb
gitpython
hf-transfer
hjson
huggingface-hub
idna
imageio
iniconfig
inquirerpy
isort
joblib
kiwisolver
langcodes
language-data
latex2sympy2-extended
lazy-loader
liger-kernel
lighteval
lxml
marisa-trie
markdown-it-py
math-verify
matplotlib
mbstrdecoder
mccabe
mdurl
msgpack
multidict
multiprocess
murmurhash
mypy-extensions
ninja
nltk
opencv-python
opencv-python-headless
packaging
pandas
parameterized
pathspec
pathvalidate
pfzy
platformdirs
pluggy
portalocker
preshed
prompt-toolkit
propcache
protobuf
psutil
py-cpuinfo
pyarrow
pyclipper
pycodestyle
pycountry
pydantic
pydantic-core
pyflakes
pygments
pyparsing
pytablewriter
pytest
python-bidi
python-dateutil
pytz
pyyaml
qwen-vl-utils
regex
requests
rich
rouge-score
sacrebleu
safetensors
scikit-image
scikit-learn
scipy
sentencepiece
sentry-sdk
setproctitle
shapely
six
smart-open
smmap
spacy
spacy-legacy
spacy-loggers
srsly
tabledata
tabulate
tcolorpy
tensorboardx
termcolor
thinc
threadpoolctl
tifffile
tokenizers
tqdm
transformers
trl
typepy
typer
typing-inspection
urllib3
wandb
wasabi
wcwidth
weasel
xxhash
yarl