absl-py==2.2.2
accelerate==1.6.0
aenum==3.1.15
aiohappyeyeballs==2.6.1
aiohttp==3.11.16
aiosignal==1.3.2
annotated-types==0.7.0
antlr4-python3-runtime==4.13.2
attrs==25.3.0
av==14.3.0
bitsandbytes==0.45.5
black==25.1.0
blis==0.7.11
catalogue==2.0.10
certifi==2025.1.31
chardet==5.2.0
charset-normalizer==3.4.1
click==8.1.8
cloudpathlib==0.16.0
colorama==0.4.6
colorlog==6.9.0
confection==0.1.5
contourpy==1.3.1
cycler==0.12.1
cymem==2.0.11
dataproperty==1.1.0
datasets==3.5.0
deepspeed==0.15.4
dill==0.3.8
docker-pycreds==0.4.0
duckdb==1.2.2
e==1.4.5
easyocr==1.7.2
einops==0.8.1
flake8==7.2.0
flash-attn==2.7.4.post1
fonttools==4.57.0
frozenlist==1.5.0
gitdb==4.0.12
gitpython==3.1.44
hf-transfer==0.1.9
hjson==3.1.0
huggingface-hub==0.30.2
idna==3.10
imageio==2.37.0
iniconfig==2.1.0
inquirerpy==0.3.4
isort==6.0.1
joblib==1.4.2
kiwisolver==1.4.8
langcodes==3.5.0
language-data==1.3.0
latex2sympy2-extended==1.0.6
lazy-loader==0.4
liger-kernel==0.5.2
lighteval==0.6.0.dev0
lxml==5.3.2
marisa-trie==1.2.1
markdown-it-py==3.0.0
math-verify==0.5.2
matplotlib==3.10.1
mbstrdecoder==1.1.4
mccabe==0.7.0
mdurl==0.1.2
msgpack==1.1.0
multidict==6.4.3
multiprocess==0.70.16
murmurhash==1.0.12
mypy-extensions==1.0.0
ninja==1.11.1.4
nltk==3.9.1
opencv-python==4.11.0.86
opencv-python-headless==4.11.0.86
packaging==24.2
pandas==2.2.3
parameterized==0.9.0
pathspec==0.12.1
pathvalidate==3.2.3
pfzy==0.3.4
platformdirs==4.3.7
pluggy==1.5.0
portalocker==3.1.1
preshed==3.0.9
prompt-toolkit==3.0.50
propcache==0.3.1
protobuf==3.20.3
psutil==7.0.0
py-cpuinfo==9.0.0
pyarrow==19.0.1
pyclipper==1.3.0.post6
pycodestyle==2.13.0
pycountry==24.6.1
pydantic==2.11.3
pydantic-core==2.33.1
pyflakes==3.3.2
pygments==2.19.1
pyparsing==3.2.3
pytablewriter==1.2.1
pytest==8.3.5
python-bidi==0.6.6
python-dateutil==2.9.0.post0
pytz==2025.2
pyyaml==6.0.2
qwen-vl-utils==0.0.10
regex==2024.11.6
requests==2.32.3
rich==14.0.0
rouge-score==0.1.2
sacrebleu==2.5.1
safetensors==0.5.3
scikit-image==0.25.2
scikit-learn==1.6.1
scipy==1.15.2
sentencepiece==0.2.0
sentry-sdk==2.26.0
setproctitle==1.3.5
shapely==2.1.0
six==1.17.0
smart-open==6.4.0
smmap==5.0.2
spacy==3.7.2
spacy-legacy==3.0.12
spacy-loggers==1.0.5
srsly==2.5.1
tabledata==1.3.4
tabulate==0.9.0
tcolorpy==0.1.7
tensorboardx==2.6.2.2
termcolor==2.3.0
thinc==8.2.5
threadpoolctl==3.6.0
tifffile==2025.3.30
tokenizers==0.21.1
tqdm==4.67.1
transformers==4.49.0
trl==0.14.0
typepy==1.3.4
typer==0.9.4
typing-inspection==0.4.0
urllib3==2.4.0
wandb==0.18.3
wasabi==1.1.3
wcwidth==0.2.13
weasel==0.3.4
xxhash==3.5.0
yarl==1.19.0